:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}
body {
  font-family: 'Lucida Sans', sans-serif;
  margin-left: 0;
  margin-right: 0;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.title-nav {
  color: rgb(216, 243, 216);
  padding-right: 5px;
  padding-left: 20px;
  font-size: 30px;
  margin-right: 20%;
  font-family: "Caprasimo";
}

.title {
  color: rgb(212, 238, 212);
  text-align: center;
  font-size: 50px;
  font-family: "Caprasimo";
}

.header {
  position: relative;
  display: flex;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 30%;
  background-color: #095c1e;
  padding-bottom: 20px;
  padding-top: 15px;
  align-items: center;
  justify-content: space-between;
}

.headerlinks {
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
  display: flex;
  gap: 20px;
}

.headerlink {
  color: rgb(239, 232, 232);
  text-decoration: none;
  font-size: 18px;
}

.headerlink:hover {
  color: #129f37;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #095c1e;
  color: rgb(217, 217, 227);
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-top: 30px;
}

.cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(184, 233, 189);
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
  position: relative;
}

.card:hover {
  box-shadow: 0 8px 16px green;
  transform: translateY(-5px);
}

.cardlist {
  display: flex;
  list-style: none;
  margin: 2px;
  padding: 2px;
  gap: 6px;
  vertical-align: middle;
  justify-content: center;
}
.home h1 {
  font-size: 75px;
  color: #1ad342;
  text-align: center;
  text-shadow: 2px 2px rgb(11, 79, 128);
  word-spacing: 15px;
}

h2 {
  font-size: 30px;
  color: #1ec342;
  text-align: center;
  text-shadow: 1px 2px rgb(18, 87, 136);
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.submit-button {
  background-color: #095c1e;
  color: rgb(236, 240, 239);
}

.submit-button.sort-button {
  color: black;
  font-size: 1.1em;
  padding: 0.5rem 1.5rem;
  margin-top: 20px;
  width: 100%;
}

.submit-button.sort-button:hover {
  background-color: #c9ead2;
  transform: scale(1.05);
}

.submit-button.sort-button:focus {
  outline: none;
  box-shadow: 0 0 5px 2px #61dafb;
}

section {
  width: 90%;
  margin: auto;
  display: block;
  box-sizing: inherit;
  background-color: #f1f5f2;
  padding: 20px;
  margin-bottom: 20px;
}

.home h2.section-header {
  text-align: left;
}

.section-title {
  background: url("apartments.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 30vh;
}

.detail-image {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.card-image {
  width: auto;
  height: 100%;
  max-height: 130px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.new-listing-input:invalid {
  outline: 2px solid red;

  &::after {
    content: 'input invalid'
  }
}

.image-gallery {
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-image-container {
  height: 250px;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  height: 100%;
  margin: 0 auto;
  display: block;
}

.image-gallery-back-link-container {
  margin: 25px auto 0 auto;
  display: block;
}
.image-gallery-back-button {
  margin: 0 auto;
  display: block;
}
.image-gallery-back-link {
  margin: 0 auto;
  color: rgb(236, 240, 239);
  text-decoration: none;
}

.single-image {
  display: block;
  margin: 0 auto;
  max-height: 1000px;
}